.button {
  font-weight: 600;
  cursor: pointer;
  border: none;
  &--movie {
    line-height: 2rem;
    padding: 0;
    align-self: flex-start;
    color: #1A3155;
    background-color: transparent;
  }
  &--show-more {
    line-height: 3rem;
    background-color: #2fbdb5ff;
    padding: 0 2rem;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 2rem;
    transition: transform 0.25s;
    &:active {
      transform: scale(.95);
    }
  }
}